@import url('https://fonts.googleapis.com/css2?family=Redacted+Script&family=Roboto&display=swap');


body {
    padding: 0px;
    border: 0px;
}

main {
    padding: 16px;
    bottom: 10px;
}

footer {
    padding: 24px 0px;
    position: sticky;
    top: 20px;
    border: 80px, 80px;
    padding: 10px solid black;
    background: linear-gradient(#5bf0f6, #acb2fd);
}

img {
    height: 200px;
}

h1 {
    color: aqua;
}

h2 {
    color: rgb(2, 138, 93);
}

.grid-test {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

img {
    box-shadow: 3px 3px rgba(37, 226, 207, 0.508), -1em 0 .4em rgb(60, 252, 153);
}

nav {
    border: 80px, 80px;
    border-bottom: 1px solid black;
    padding: 24px solid black;
    background: content-box radial-gradient(rgb(92, 251, 254), rgb(10, 253, 192));
}

a {
    color: rgb(0, 0, 0);
    transition: background-color 0.5s;
    text-decoration: none;
    font-family: "Redacted Script";
  }

a:hover {
    background-color: gold;
    font-family: 'Times New Roman', Times, serif;
}

.table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

tr:nth-child(even) {
    background-color: rgb(126, 204, 239);
}

tr:nth-child(odd) {
    background-color: rgb(42, 240, 164);
}

li:nth-child(even) {
    color: skyblue
}

li:nth-child(odd) {
    color:aquamarine
}
